:root {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

body {
  background-color: black;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.logo {
  padding: 5px 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  /* background-color: rgb(21, 0, 255); */
}

.menu>ul,
.menu_CTA>ul {
  display: flex;
}

.menu>ul li,
.menu_CTA>ul li {
  list-style: none;
}

.menu a,
.menu_CTA a {
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  display: block;
  padding: 10px 15px !important;
}

.menu_CTA {
  display: flex;
  align-items: center;
}


.CTAbtn {
  background-color: #fff;
  color: #000 !important;
}


/* ------------ */

.hero {
  height: 100vh;
}

.heroText {
  font-size: 10rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 80px 0 0;
  line-height: 0.7;
}

.heroText span {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: stretch;
  margin: 40px 0;

}

.heroText b {
  background-color: #7E3836;
  font-size: 3rem;
  padding: 13px 30px;
  margin: 0 20px;
  border-radius: 50px;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  z-index: 99;
}

.imgContainer {
  position: relative;
}

.imgContainer>img {
  position: absolute;
  border-radius: 5px;
}

.img1 {
  width: 150px;
  left: 0;
  top: -375px;
}

.img2 {
  width: 150px;
  top: -120px;
  right: 0;
}

.img3 {
  width: 230px;
  top: -450px;
  left: 50%;
  z-index: -1;
}

.img4 {
  width: 250px;
  top: 0px;
  left: 20%;
}

.scrollDown {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  margin-left: -50%;
}

.page {
  height: 100vh;
}

#page1,
#page3,
#page5 {
  background-color: #7E3836;
}

#page2,
#page4 {
  background-color: #000;
}

.page h2 {
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 50px 200px;
}

.page p {
  font-size: 3rem;
  padding: 0 200px;
}